.button-grid-container {
    display: flex !important;
    width: 100%;
    justify-content: space-between!important;
    align-items: center;
    padding: 10px; /* Adjust as needed */
  }
  
  /* CSS for the Prev button */
.prev-button {
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 8px;
  }
  .links{
    padding: 10px 0px;
  }
  /* CSS for the Next button */
  .next-button {
    background-color: #f50057;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    margin-left: 8px;
  }
  