.paper.content1 {
  background-color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* Adjusted height */
  padding: 20px; /* Adding padding to create space at the bottom */
}
.paper.content2 {
  overflow: hidden; /* Hide overflow for content2 */
}
/* Hiding overflow for other elements */
.app,
.root {
  height: 100vh;
  overflow: hidden;
}

.paper {
  color: #000;
  height: 100%;
 
  flex-direction: column;
  box-shadow: none;
  display: flex;
}

.content2 {
  background-color: #6e91b6 !important;
  overflow: hidden; /* Hide overflow */
}
/* App.css */
/* Add these styles for the image and the upload button */
.upload-btn {
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}

.app .root .paper.content1 button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app .root .paper.content1 button input[type="file"] {
  display: none;
}

.app .root .paper.content1 button + button {
  position: absolute;
  bottom: 0;
  right: 0;
}

#profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.contain {
  padding: 20px;
  height: auto;
  display: flex;
  width: 100%;
  border: 2px solid white;
  background-color:#ffffff;
}
.part{
  flex: 1; /* 20% width for the first part */
  border: 1px soild red;
 
}
.part1{
  height: 100%;
  width: 20%;
  flex: 0 0 20%; /* 20% width for the first part */
  background-color:#537598;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}
